<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>部门编号</td><td>部门名称</td><td>部门地址</td>
    </tr>
    <tr th:each="dept:${list}">
        <td th:text="${dept.deptno}"></td>
        <td th:text="${dept.dname}"></td>
        <td th:text="${dept.loc}"></td>
    </tr>

</table>
<span th:text="aaa">span标签</span>
<span th:text="${str}"></span>
<span th:text="${session.dept}"></span>
<span th:if="${session.dept} !='维组'">dept的值等于运维组</span>
<br/>
<a href="/req?id=3&name=lisi">提交李四</a>
<a th:href="@{/req(id=3,name=zhangsan)}">提交张三</a>
<a th:href="@{/req(id=4,name=${session.dept})}"> 提交运维组</a>
<a href="http://www.baidu.com">百度页面</a>
</body>
</html>